body {
    background-color: black;
    
}
    
h1 {
    font-family: "press start 2p", serif;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 5%;
}

p{
    font-family: "press start 2p", serif;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 7%;
    letter-spacing: .5px;
    line-height: 1.5;
}

.directory{
    background-color: black;
    margin-left: 45.75%;
    margin-top: 100px;
    padding: 20px;
}

.directory a{
    text-decoration: none;
    color: white;
    font-family: "press start 2p", serif;
    font-size: 20px;
}