body{
    background-color: black;
    background-image: url(../images/fort.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "press start 2p", serif;
    font-size: 45px;
    color: black;
    text-align: center;
    margin-top: 5%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 25%;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 4px solid black;
}

textarea {
    margin-bottom: 10px;
    padding: 20px;
    border: 4px solid black;
}

#submitBtn {
    padding: 10px;
    font-family: "press start 2p", serif;
    margin-left: 25%;
    margin-right: 25%;
    border: 3px solid black;
}

#submitBtn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 3px dashed white;
}

input::placeholder{
    font-family: "press start 2p", serif;
}

textarea::placeholder{
    font-family: "press start 2p", serif;
}

@media (max-width: 800px){
    body{
        background-size: 800px;
    }

    h1{
        font-size: 35px;
        margin-top: 68%;
        color: white;
    }

    form{
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
}


@media (max-width: 500px){
    body{
        background-size: 500px;
    }

    h1{
        font-size: 35px;
        margin-top: 75%;
        color: white;
    }

    form{
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
}

@media (max-width: 400px){
    body{
        background-size: 450px;
    }

    h1{
        font-size: 35px;
        margin-top: 75%;
        color: white;
    }

    form{
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
}