body {
    background-image: url('../images/oregonTrail.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-family: "press start 2p", serif;
    font-size: 45px;
}

.submit {
    position:absolute;
    margin-left: 37%;
    margin-top: 35.5%;
    font-size: 30px;
    padding: 10px;
    font-family: "press start 2p", serif;
    color: white;
    background-color: black;
   
}


/*pseudo*/

.submit:hover{
    background-color: white;
    color: black;
    border: 2px dashed black;
    cursor: pointer;
}


/*Media*/

@media (max-width: 1500px) {
    h1{
        font-size: 35px;
    }
}

@media (max-width: 1000px) {
    h1{
        font-size: 25px;
    }
    .submit{
        margin-left: 30%;
        font-size: 25px;
    }
}

@media (max-width: 800px) {
    h1{
        font-size: 18px;
    }
    .submit{
        margin-left: 30%;
        font-size: 20px;
    }
}

@media (max-width: 600px) {

    body{
        background-repeat: repeat;
    }

    h1{
        font-size: 14px;
    }

    .submit{
        margin-top: 90%;
        margin-left: 26%;
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    body{
        background-position: (center, center);
        background-repeat: repeat;
    }

    h1{
        font-size: 14px;
    }

    .submit{
        margin-top: 90%;
        margin-left: 26%;
        font-size: 12px;
    }
}




