.header {
    background-color: #3a653a;
    color: #b6864b;
    font-family: futura, brooklyn, sans-serif;
    display: flex;
    
}

.header h2 {
    padding: 5px;
    margin: 0px;
    position: absolute;
    top: 0%;
    left: 40%;
}
/* Nav */
.nav {
    display: flex;
    align-items: flex-end;
}

.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

.nav a{
    text-decoration: none;
    display: flex;
    margin: 0 10px;
    color: #b6864b;
}
/* About */
.about {
    width: 50vw;
    position: absolute;
    right: 20%;
    border: 5px solid #b6864b;
    margin: 10px 0;
    display: flex;
    flex-direction: column;

}

.about h2 {
    display: flex;
    align-self: center;
    margin: 10px 0;
    
}

.about p {
    font-family: baskerville, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
/* Projects*/
.Project1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
}
/* Form */
.fill {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 28vw;
    border: 5px solid #37647a;
    padding: 5px;
    font-family: baskervilel, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    position: absolute;
    left: 50.5%;
}

.fill h2 {
    align-self: center;
}

.fill input {
margin: 10px 0;
padding: 5px;
border: 2px solid black;
}

/* Pseudo elements */

.nav li:hover {
    background-color: #37647a;
}

.nav li:active {
    text-decoration: underline;
}

.about:hover {
    background-color: #3a653a;
    color: #b6864b;
    border-color: #37647a;
    cursor: help;
    transition: 0.5s;
    transition-property: background-color;
    
}









